
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



html {
  overflow-x: hidden;
}

body.dark {
  --light: #0C0C1E;
  --primary-color: #2f2f2f;
  --background-color: rgba(4, 14, 5, 0.8);
  --dark: #FBFBFB;
  --dark-50: #e3e3e3;
}

body {
  background: var(--background-color);
  //overflow-x: hidden;
}







@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}
input:focus {
  border: 1px solid #0d6efd;
}





/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {

  #sidebar {
    width: 60px;

  }
  #sidebar .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
  }
  #sidebar ~ #content {
    width: calc(100% - 60px);
    left: 60px;
  }
}