:root {
  --font: 'Mulish';
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  // UI Dashboard
  --text-color: #333;
  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --dark-50: rgba(38, 24, 26, 0.8);
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
  --border-color: #dbdbdb;
  --border-focus-color: #888;

  --gray40-color: #666; /* dark gray*/
  --gray46-color: #757575;
  --gray60-color: #999; /* light gray*/
  --gray97-color: #e3e3e3; /* lighter gray :)*/

  // UI Base
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  --2px: 0.125rem;
  --4px: 0.25rem;
  --6px: 0.375rem;
  --8px: 0.5rem;
  --12px: 0.75rem;
  --14px: 0.875rem;
  --16px: 1rem;
  --18px: 1.124rem;
  --20px: 1.25rem;
  --22px: 1.375rem;
  --24px: 1.5rem;
  --26px: 1.675rem;
  --28px: 2rem;
  --230px: 2.5rem;
  --48px: 3rem;

  --bs-text: #1f1d1d;
  --bs-sub-txt: #5b5151;
  --bs-white: #ffffff;
  --bs-black: #333940;
  --bs-red: #d6001c;
  --bs-danger: #d6001c;
  --bs-blue: #004dff;
  --bs-info: #0078aa;
  --bs-focus-input: #3ca9d5;
  --bs-blue-100: #ccdbff;
  --bs-red-100: #ffd4d4;
  --bs-orange-100: #ffedea;
  --bs-success-100: #d4f7e7;
  --bs-success-500: #367558;
  --bs-warning-100: #fff2cc;
  --bs-infor-100: #ccf0ff;
  --bs-gray-100: #f5f6f8;
  --bs-gray-200: #f5f8fa;
  --bs-gray-300: #b5b0b5;
  --bs-green-100: #bbefce;
  --bs-brown-200: #413c3d;
  --bootstrap-border-color: #ced4da;


  --bs-active: #42a18b;
  --bs-disabled: #ce5c6d;

  --box-shadow: 0px 0px 20px rgb(1 41 112 / 10%);
}

