
.task-item {
  background-color: white;
  padding: var(--gap);
  min-height: calc(5 * var(--gap));
  border-radius: var(--task-border-radius);
  box-shadow: var(--bx-sh-task);
  margin-bottom: var(--gap);
  font-size: var(--fs-task-pg);
  &.task-long{
    vertical-align: middle;
    height: 2.3rem;
    padding: 0 2.5rem;
    min-height: 1.5rem;
    .header-task-item {
      height: 2.3rem;
      .task-title {
        display: flex;
        align-items: center;

      }
    }
  }

  &:hover {
    transform: scale(1.0125);
    cursor: pointer;
    // background-color:var(--list-bg-color);
  }
  .flex-task{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-task-item {


    padding: 0 5px;

    .btn-edit-task {
      display: none;
    }

    .task-title {
      font-weight: 400;
      display: block;
      height: 1.5rem;

    }

    .description {
      display: flex;
      justify-content: space-between;
      height: 2rem;
      align-items: center;
      .unsigned{
        background-color: var(--gray97-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0.4rem;
        font-weight: 600;
        .icon{
          font-size: var(--10px);
          background-color: var(--gray97-color);
        }
      }
      &.space-around{
        justify-content: space-around;
      }
      .status{
        font-size: var(--12px);
        padding:0.4rem;
        font-weight: 600;
        border-radius: calc(var(--task-border-radius) - 1px);
        background-color: var(--gray97-color);
        margin-left: 1rem;
        margin-right: 1rem;

      }
      .priority {
        font-size: var(--12px);
        padding:0.4rem;
        font-weight: 600;
        border-radius: calc(var(--task-border-radius) - 1px);
        margin-right: 1rem;
      }

      .id {
        font-size: var(--12px);
        font-style: italic;

      }
    }

    &:hover .btn-edit-task {
      display: block;
      color: #d5d3d3;
      width: calc(var(--gap) * 3);
      height: calc(var(--gap) * 3);
      padding: 8px;
      border-radius: 3px;

      &:hover {
        background-color: #f8f6f6;
        color: #8a8988;
        cursor: pointer;
      }
    }
  }

  .thumbnail {
    margin-top: 0.8rem;

    .img-thumbnail-task {
      display: block;
      width: calc(95% + (3 * #{var(--gap)}));
      max-width: 100%;
      height: auto;
      margin: var(--gap 0 var(--gap) - var(--gap));
      border-top-left-radius: var(--task-border-radius);
      border-top-right-radius: var(--task-border-radius);
    }
  }


}


@media (min-width: 768px) {
  .task-item {
    .thumbnail {
      .img-thumbnail-task {
        //  width: 50%;
        height: auto;
      }
    }
  }

}

@media (min-width: 1024px) {
  .task-item {
    .thumbnail {
      .img-thumbnail-task {
        // width: 33.33%;
        height: auto;
      }
    }
  }
}