.box-confirmation{
  display: flex;
  align-items: center;
  margin: 1rem ;
  width: 100%;
  .icon{
    font-size: var(--28px);
    color: #f3d206;
    margin-right: 2rem;
    width: 7%;
  }
  .content{
    width: 80%;
    text-align: justify;
  }
}