#table {
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  .tb-header{
    color: var(--dark);
    background-color: var(--light);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
    .tr-header{

      th .header-item{

      }
    }
  }
}

#table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

#table thead,
#table tbody {
  background-color: var(--light);
}

#table thead tr th:first-child,
#table tbody tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#table thead tr th:last-child,
#table tbody tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#table thead tr th,
#table tbody tr td {
  padding: var(--16px);
}

/* #table thead tr th:last-child,
#table tbody tr td:last-child {
  border-bottom-width: 0;
} */

#table tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

#table tbody tr td {
  vertical-align: middle;
}
