
@mixin bx-info {
  height: auto;
  padding: 2rem ;
  margin-bottom: 1.5rem;
  border-radius:var(--border-radius);
  background-color:#fff;
}
.box-detail-staff{
    padding: 1.5rem;

    .basic-info {
      @include bx-info;
      width: 100%;
      margin: 0;
      .gr-ip-e-s label {
        font-size: 1rem;
        height: 2.4rem !important;
        align-items: center;
        font-weight: bold;
      }

    }
    .basic-advance{
      @include bx-info;
      margin: 0;
      width: 100%;
    }
    .advance-info {
      @include bx-info;

      .gr-ip-e-s label {
        font-size: 1rem;
        height: 2.4rem !important;
        align-items: center;
        font-weight: bold;
      }


    }
    .upload-info {
      @include bx-info;

      .gr-ip-e-s label {
        font-size: 1rem;
        height: 2.4rem !important;
        align-items: center;
        font-weight: bold;
      }

      .footer-form{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
        button{
          margin-left: .5rem;
        }
      }

  }







}
///*  .img{
//        width: 100%;
//        max-width: 230px;
//        margin: 1rem;
//
//        --g: 2px;     /* the gap */
//--b: 10px;    /* border thickness*/
//--c: #1dc2e1; /* the color */
//
//padding: calc(var(--g) + var(--b));
//--_c: #0000 0 25%, var(--c) 0 50%;
//                                --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
//--_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
//background:
//var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
//var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
//background-size: 200% var(--b),var(--b) 200%;
//                                           cursor: pointer;
//filter: grayscale(50%);
//transition: .3s;
//&:hover {
//  --_p: 75%;
//  filter: grayscale(0%);
//}
//}*/