@import "../../../../css/base/_mixins.scss";

@mixin bx-info {
  height: auto;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border-radius: var(--border-radius);
  background-color: #fff;
}

.detail-staff {
  .gr-button {
    display: flex;

    .btn-disabled {
      @include btn;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &:hover {
        border: var(--yellow);
        background-color: var(--yellow);
      }
    }

    .btn-delete {
      @include btn;
      margin-left: 0.5rem;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &:hover {
        border: var(--red);
        background-color: var(--red);
      }
    }
  }

  .box-detail-staff {
    padding: 1.5rem;

    .basic-info {
      @include bx-info;
      width: 100%;
      margin: 0;

      .box-avatar-staff {
        display: flex;
        align-items: center;
        justify-content: center;

        .avatar {
          opacity: 1;
          object-fit: cover;
          border-radius: 50%;
          width: 9rem;
          height: 9rem;
          transition: 0.5s ease;
          backface-visibility: hidden;
          border: 5px solid rgba(65, 147, 89, 0.5);
        }
      }

      .container-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.8rem;
        margin-top: 1rem;

        .name {
          margin-top: 0.5rem;
          font-size: 1.3rem;
          font-weight: bold;
        }

        .role {
          margin-top: 0.5rem;
          font-size: 1rem;
          font-style: italic;

        }

        .status {
          font-weight: bold;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .icon {
            font-size: var(--16px);
          }
        }

        .active {
          color: var(--primary-color-btn);
        }

        .negative {
          color: var(--red);
        }

      }

      .list-info {
        padding: 0 1rem;

        .group {
          display: flex;
          justify-content: space-between;

          .title {
            line-height: 2.5rem;
            font-weight: 500;
          }

          .content {
            line-height: 2.4rem;
          }
        }
      }


    }

    .basic-advance {
      height: auto;
      padding: 0.5rem 2rem;
      margin-bottom: 1.5rem;
      border-radius: var(--border-radius);
      background-color: #fff;
      width: 100%;

      .list-info {
        padding: 1rem;

        .group {
          display: flex;
          justify-content: space-between;

          .title {
            line-height: 2.8rem;
            font-weight: 500;
          }

          .content {
            line-height: 2.8rem;
          }
        }

        .left {
          padding: 1rem 2rem;
          width: 100%;
        }

        .right {
          padding: 1rem 2rem;
          width: 100%;
        }


      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      padding: 1rem 2rem;
      margin-top: 2rem;
      .btn-back{
        @include btn-ok;
        width: 8rem;
        font-style: var(--14px);
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          margin-right: 1rem;
          font-style: var(--14px);
        }
      }
    }
  }

}

///*  .img{
//        width: 100%;
//        max-width: 230px;
//        margin: 1rem;
//
//        --g: 2px;     /* the gap */
//--b: 10px;    /* border thickness*/
//--c: #1dc2e1; /* the color */
//
//padding: calc(var(--g) + var(--b));
//--_c: #0000 0 25%, var(--c) 0 50%;
//                                --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
//--_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
//background:
//var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
//var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
//background-size: 200% var(--b),var(--b) 200%;
//                                           cursor: pointer;
//filter: grayscale(50%);
//transition: .3s;
//&:hover {
//  --_p: 75%;
//  filter: grayscale(0%);
//}
//}*/