@import "../../../css/base/_mixins.scss";
.container-decentralize{
  background-color: #fff;
  border-radius:var(--border-radius);
  padding: 1.5rem 5rem;
  margin: var(--pd-content);

  .header-decentralize{
    padding: 0.5rem 0;
    .title{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 2.5rem;
      margin-bottom: 0.5rem;
      .icon{
        margin-right: 1rem;
      }
    }
    .filter-decentralize-page{
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      .filter-group{

      }
      .search-create{
        display: flex;
        justify-content: space-between;
        .btn-add{
           @include btn-ok;
          margin-left: 1rem;
        }
      }
    }
  }
  .content-decentralize{

  }
}