@import "../../../../css/base/_mixins.scss";
.container-create-project{
  background-color: #fff;
  border-radius:var(--border-radius);
  padding: 2rem 10rem;
  margin: var(--pd-content) calc(var(--pd-content) *5);
  min-height:50rem;

  .form-add-project{
    background-color: #fff;
    border-radius:var(--border-radius);
    margin: var(--pd-content);
    .lable-input{
      display: block;
    }
    .input-title{
      margin-bottom: 1rem;
      .lable{
        margin-bottom: 1rem;
      }
      .input{

      }

    }

    .members{
     .lable{
       margin: 1rem 0;
     }
    }
    .box-footer{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-right: 0.5rem;
      margin-top: 4rem;
      .btn-confirm{
        @include btn-ok;
        margin-left: 0.5rem;
      }
      .btn-cancel{
        @include btn-cancel;
      }
    }
  }
}

.select-member-custom{
  .ant-select-item-option-content{
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  /* Điều chỉnh kiểu dáng cho thiết bị di động ở đây */
  .container-create-project{
    padding: 1rem ;
    margin: calc(var(--pd-content)/2);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* Điều chỉnh kiểu dáng cho máy tính bảng ở đây */
  .container-create-project{
    padding: 2rem ;
    margin:  calc(var(--pd-content));
  }

}

