
.container-create-project{

  .form-add-project{
    background-color: #fff;
    border-radius:var(--border-radius);
    margin: var(--pd-content);
    .input-title{
      margin-bottom: 1rem;
      .lable{
        margin-bottom: 1rem;
      }
      .input{

      }

    }

    .members{
     .lable{
       margin: 1rem 0;
     }
    }
  }
}
