.sidebar-skeleton{

  .group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;

    .menu-item{
      margin: 0.2rem 0;
    }
  }

}
@media (max-width: 767px) {
  .menu-item{
    width: 2rem;
    margin: 5px;
  }
}