//Menu Wrapper
.menu-list {
  width: 234px;
  margin-right: -3rem;

  .menu-item {
    margin-left: 0 !important;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 500;
    font-size: 15px;
    padding: 11px 16px;
    color: var(--dark);
    background-color: var(--light);

    &:hover {
      background-color: var(--grey);
    }
  }
  .filter-item{
    padding: 0.5rem 0;
    .filter-title {
      font-weight: 600;

    }
  }
}


//Menu item
.menu-body {
  overflow-y: auto;
  overflow-x: hidden;


}


