.event-item{
    .type-event-item{
      height: 2.5rem;
      margin: 1rem 0;
      display: flex;
      align-items: center;
      .type-item{
        border-radius: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 20px;
        padding: 0.375rem 0.75rem;
        white-space: nowrap;
        margin-left: 0.5rem;
        background-color: var(--gray100-color);
        color: var(--gray46-color);
        cursor: pointer;
        .icon{
          margin-right: 0.5rem;
          font-size: var(--16px);
        }
        &:focus{
          outline: 1px auto #7dadd9!important;
        }

      }
      .event.active{
        background-color: var(--informativeSecondary);
        color: var(--blue);
      }
      .schedule.active{
        background-color: var(--criticalSecondary);
        color: var(--orange);
      }
      .todo.active{
        background-color: var(--negativeSecondary);
        color: var(--red);
      }
    }
  .input-title-event{
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: var(--20px);
    border-bottom: 1px solid #1a99f4;
    border-radius: 0;
    font-weight: bold;
    ::placeholder {
      font-weight: bold;
    }

    &:focus {
      background-color: white;
      //  border: 1px solid var(--appbar-bg-color);
      cursor: text;
    }
  }
}