$height-img:3rem;
.notification-item{
  background-color: hsl(211, 68%, 94%);;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  height: $height-img + 2rem;
  margin-bottom: 0.8rem;
  &.read {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
  }
  .notification-header{
      margin: 0 2rem 0 4rem;
    .img-thumbnail{
      border-radius:50%;
      width: $height-img;
      height: $height-img;
      border: 2px solid rgba(0, 0, 0, 0.42);
    }
  }

  .notification-content{
    color: var(--dark);
    padding: 0 1rem;
    font-size: var(--14px);


    .notification-title{
      font-size: var(--14px);
      font-weight: bold;
    }
    .notification-description{

    }

    .notification-date{
      display: block;
      font-style: italic;
      font-size: var(--12px);
    }
  }
}
