@import "../../../../css/base/mixins";


.footer-edit-sprint{
  padding: 1rem 4rem;
  display: flex;
  justify-content: flex-end;
  .btn-cancel{
    @include btn-cancel;
    margin-right: 1rem;
  }
  .btn-save{
    @include btn-ok;
  }
}