@mixin divide {
  content:'';
  position: absolute;
  border: 1.5px solid var(--white);
  right: -14px;
  height: 1.8rem;
}
.navbar-board{
  height: 3.2rem;
  padding: 0 calc( 2 * var(--gap) );
  display: flex;
  align-items: center;
  justify-content: space-between;
 background-color: rgba(255, 255, 255, 0.13);
  font-size: 1rem;
  .board-name{
    color: var(--light);
  }
  .board-view{
    .board-name{
      color: var(--light);
      display: flex;
      align-items: center;
      .icon{
        margin-right: 0.2rem;
        font-size: var(--20px);
        padding: 0;
      }
    }
  }
  .board-filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .filter-btn{
      height: 2rem;
      background-color: var(--light);
      padding: 1rem;
      border-radius: var(--task-border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: 1.4rem;
      &:hover{
      }
      &:after{
      @include divide

      }
      .filter-task {
        font-weight: 450;
        display: flex;
        align-items: center;
        .icon{
          font-weight: 200;
          color: #81807f;
          font-size: var(--14px);
          margin-right: 0.5rem;
        }
      }
    }
    .search{
      position: relative;
      margin-right: 1.4rem;
      &:after{
        @include divide;
        top: 0;

      }
    }
    .avatar-group{
      margin-right: 1.4rem;
      position: relative;
      display: flex;
      align-items: center;
      &:hover{

      }
      &:after{
        @include divide
      }
    }
    .action-project {
      height: 2rem;
      background-color: var(--light);
      padding: 1rem;
      border-radius: var(--task-border-radius);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: 1.4rem;
      &:hover{

      }
      &:after{
        @include divide

      }

    }
    .btn-more{
      line-height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: hsla(0deg, 0%, 100%, 0.24);
      border: none;
      padding:   0.4rem;
      color: var(--gray97-color);
      border-radius: 2px;
      margin-left: 5px;
      &:hover{
        background-color: hsla(0deg, 0%, 100%, 0.14);
      }
    }
  }
}

.overlay-dropdown-filter-task{
  .ant-dropdown-menu{
    border-radius: var(--task-border-radius);
    .ant-dropdown-menu-item{
      height:2.5rem;
      margin: 0.15rem 0;
      &:hover{

      }
    }
    .ant-dropdown-menu-item-selected{
      height:2.5rem;
      background-color: var(--criticalSecondary);
      color: #fa8c16;
      font-weight: bold;
      &:hover{
        background-color: var(--criticalSecondary);
        cursor: default;
      }

    }
  }
}

.overlay-dropdown-action-project{
  .ant-dropdown-menu{
    border-radius: var(--task-border-radius);
    &:last-child  {
      svg{
        color: var(--red) !important;
      }
      height:2.5rem;
      background-color: var(--criticalSecondary);
      color: var(--red);
      font-weight: bold;
      &:hover{
        background-color: var(--criticalSecondary);
        cursor: pointer;
      }


    }
    .ant-dropdown-menu-item{
      height:2.5rem;
      margin: 0.15rem 0;
      svg{
        color: var(--gray40-color);
      }

      font-weight: bold;
      &:hover{
        cursor: default;
        background-color: var(--negativeSecondary);
        color: var(--red);
        svg{
          color: var(--red);
        }
      }
    }

  }
}