.wrapper{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-color: var(--light);
    border-radius:8px;
    display: flex;
    flex-direction:column;
    width:90%;
    top:-10px;
    min-height: 100px;
    max-height: min((100vh - 96px) - 60px, 734px);
    padding:1rem;
}