.sidebar-version2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: var(--light);
  z-index: 900;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
  box-shadow: 1px 1px 2px 3px rgba(204, 202, 202, 0.2);
  .side-bar-logo{
    height: 120px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.mini{
      width: 80px;
      height: 60px;
    }
    .img-company{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 80px;
      object-fit: cover;
      transition: transform 0.3s ease;
      &.mini{
        width: 50px;
        height: 40px;
      }
    }
  }

  &.hide {
    width: 80px;

  }

  .ant-menu-submenu-open .ant-menu-submenu-title {
    color: var(--primary-color-btn);

    &:hover {
      color: var(--red);
    }
    .ant-menu-title-content a {
      font-weight: bold;
      color: var(--primary-color-btn) !important;
    }
  }
  .ant-menu-submenu{
    color: var(--text-color);
    .ant-menu-title-content a {
      font-weight: bold;
      color: var(--text-color);
    }

  }

  .ant-menu-item {
    font-weight: bold;
    &:hover svg,
    &:hover a {
      color: var(--red);
    }
  }

  .ant-menu-item-selected {
    background-color: var(--primary-color);
    .ant-menu-title-content a {
      color: #fff !important;
    }
    color: #fff;
    font-weight: bold;
    &:hover svg,
    &:hover a {
      color: #fff !important;
    }
  }
}