
.custom-overlay-dropdown{
  .ant-dropdown-menu{
    font-weight: 500;
    border-radius: var(--task-border-radius);

    .ant-dropdown-menu-item-group-list{
        .ant-dropdown-menu-item-only-child{
          font-weight: 500;
          &:hover{

            background-color: var(--pr-green-light) !important;
            color: var(--pr-green) !important;
          }
        }

    }

    .ant-dropdown-menu-item{
      height:2.5rem;
      margin: 0.15rem 0;
      &:hover{
        font-weight: 500;
        background-color: var(--informativeSecondary);
        color: var(--bs-info);
      }
    }
  }
}