.select-board{
  margin-left: 0.5rem;
  .dropdown-board{
    font-size: var(--14px);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: var(--task-border-radius);
    border: hsla(0deg, 0%, 100%, 0.34);
    height: 2.4rem;
    padding: 0 1rem;
    background-color: hsla(0deg, 0%, 100%, 0.34);
    cursor: pointer;
    &:hover{
      background-color: var(--pr-green-light);
      color: var(--pr-green);
    }
    .icon{
      font-size: var(--16px);
      margin-right: 0.5rem;

    }
    .icon-down{
      font-size: var(--16px);
      line-height: 2.5rem;
      margin-left: 0.5rem;
    }
  }


}
.action-project{
  display: flex;
  align-items: center;
  line-height: 2.6rem;
  padding-left: 0.5rem;
  .action-project-icon{
    font-size: var(--14px);
    margin-right: 1rem;
  }
}