
.box-user{
  display: flex;
  align-items: center;
  cursor: pointer;
  .avatar{


  }
  .info{
    display: flex;
    flex-direction:column;
    line-height: 100%;
    padding-left: 0.5rem;

    .name{
      font-size:15px;
      font-weight: bold;
      margin-bottom: 0.3rem;
      color: var(--dark);
    }

    .role{
      font-size:12px;
      text-align: center;
      font-style: italic;
      color: var(--dark);
    }
  }
}
@media only screen and (max-width: 46.1875em) {
  .info {
    display: none !important;
  }
}
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {

  .info{
    display: none !important;
    }


}