.avatar-header{
  margin-left: 1.4rem;
  margin-right: 0.8rem;
}
.box-user{

  .info-user{
    height: 5rem;
    cursor: default;
    .title{
      font-size:var(--12px);
      font-weight: bold;
      margin-bottom:0.8rem;
      color: var(--dark);
    }
    .info{
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 100%;
      padding-left: 0.5rem;

    .gr{
      display: flex;
      flex-direction: column;
      margin-left: 01rem;
      .name{
        font-size:var(--16px);
        font-weight: bold;
        margin-bottom: 0.3rem;
        color: var(--dark);
      }

      .role{
        font-size:var(--12px);
        text-align: center;
        font-style: italic;
        color: var(--dark);
      }
    }
    }
  }
  .dropdown-item{
    line-height: 2.4rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;


    .dropdown-icon{
      font-size: var(--16px);
    }
    .dropdown-title{
      font-size: var(--16px);
      margin-left: 1rem;

    }
  }

}
@media only screen and (max-width: 46.1875em) {
  .info {
    display: none !important;
  }
}
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {

  .info{
    display: none !important;
    }


}