/* NAVBAR */
 .navbar {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
}
// .navbar::before {
//  content: '';
//  position: absolute;
//  width: 40px;
//  height: 40px;
//  bottom: -40px;
//  left: 0;
//  border-radius: 50%;
//  box-shadow: -20px -20px 0 var(--light);
//
//}
 .navbar a {
  color: var(--dark);
}
 .navbar .bx-menu {
  cursor: pointer;
  color: var(--dark);
}
 .navbar .nav-link {
  font-size: 16px;
  transition: .3s ease;
  color: var(--dark);
}
 .navbar .nav-link:hover {
  color: var(--blue);
}

 .navbar .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
 .navbar .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
 .navbar .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}
 .navbar #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */
