@import "../../../../css/base/_mixins.scss";

.navbar-app{
  height:3.5rem;
  padding-left: calc( 2 * var(--gap) );
  display: flex;
  align-items: center;
  justify-content: space-between;
 // background-color:var(--appbar-bg-color) ;
  font-size: 1rem;

  .select-board{
    .dropdown-board{
      font-size: var(--16px);
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--light);
      border-radius: var(--task-border-radius);
      border: hsla(0deg, 0%, 100%, 0.34);
      height: 2.4rem;
      padding: 0 1rem;
      background-color: hsla(0deg, 0%, 100%, 0.34);
      .icon{
        font-size: var(--22px);
        margin-right: 0.5rem;

      }
      .icon-down{
        font-size: var(--22px);
        line-height: 2.5rem;
        margin-left: 1rem;
      }
    }


  }
  .add-board{
    border-radius: var(--task-border-radius);
    border: hsla(0deg, 0%, 100%, 0.34);
    height: 2.4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: var(--light);
    margin-right: 1rem;
    .icon{
      font-size: var(--20px);
      color: var(--primary-color-btn);
      margin-right: 0.5rem;
    }
    .btn-add-board{
      border: none;
      font-size: var(--16px);
      font-weight: bold;
      background-color: transparent;
      color: var(--primary-color-btn);


    }
    &:hover{
      cursor: pointer;
     // background-color:hsla(0deg, 0%, 100%, 0.34);
    }
  }
}

.footer-create-project{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4rem;
  .btn-cancel{
    @include btn-cancel;
    margin-right: 1rem;
  }
  .btn-add{
    @include btn-ok;

  }


}
.custom-overlay-dropdown{
  .ant-dropdown-menu{
    border-radius: var(--task-border-radius);
    .ant-dropdown-menu-item{
      height:2.5rem;
      margin: 0.15rem 0;
      &:hover{
        font-weight: bold;
      }
    }
    .ant-dropdown-menu-item-selected{
      height:2.5rem;
      background-color: var(--pr-green-light);
      color: var(--pr-green);
      font-weight: bold;
      &:hover{
        background-color: var(--pr-green-light);
        cursor: default;
      }

    }
  }
}