.container-setting{

  .box-title{
    background-color: #fff;
    border-radius:var(--border-radius);
    padding: 1.5rem 5rem;
    margin: var(--pd-content);
  }
  .box-avatar{
    background-color: #fff;
    border-radius:var(--border-radius);
    padding: 1.5rem 5rem;
    margin: var(--pd-content);
  }
}