#content {
  position: relative;
  width: calc(100% - 180px);
  left: 180px;
  transition: .3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px) !important;
  left: 60px;
}
/* demo 2**/
.sidebar-version2.hide ~ #content {
  width: calc(100% - 80px);
  left: 80px;
}


/* MAIN */
#content main {
  width: 100%;
 // padding:  20px;
  font-family: var(--poppins);
  height: 1000px;
  //max-height: calc(100vh - 56px);

}
html::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

// Mobile
  @media only screen and (max-width: 768px) {

    #content main{
      padding: 5px;
    }
    #content{
      left: 0;
    }
  }

  /* Tablet: width >= 740px and width < 1024px */
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {


  }

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 0px;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

}