#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: .3s ease;
}

/* MAIN */
#content main {
  width: 100%;
  padding: 30px 24px;
  font-family: var(--poppins);
  height: 1000px;
  //max-height: calc(100vh - 56px);

}
html::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

// Mobile
  @media only screen and (max-width: 768px) {

    #content main{
      padding: 5px;
    }
    #content{
      left: 0;
    }
  }

  /* Tablet: width >= 740px and width < 1024px */
  @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {


  }
