
@import "../../../../css/base/_mixins.scss";
.container-update-project{
  height: 500px !important;

  .form-add-project{
    background-color: #fff;
    border-radius:var(--border-radius);
    margin: var(--pd-content);
    .lable-input{
      display: block;
    }
    .input-title{
      margin-bottom: 1rem;
      .lable{
        margin-bottom: 1rem;
      }
      .input{

      }

    }

    .members{
      .lable{
        margin: 1rem 0;
      }
    }
    .box-footer{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-right: 0.5rem;
      margin-top: 4rem;
      .btn-confirm{
        @include btn-ok;
        margin-left: 0.5rem;
      }
      .btn-cancel{
        @include btn-cancel;
      }
    }
  }
}
