
.navbar-board{
  height:auto;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  background-color:var(--board-bg-color);
  font-size: 1.1rem;
  .board-name{
    color: var(--light);
  }
  .board-view{

  }
  .board-filter{

  }
}